@charset  'UTF-8';
header{
    color: white;
    background-image: linear-gradient(to bottom, red,rgb(0, 0, 0));
    padding: 25px;
}
#back:hover{
   text-decoration: underline;
}
nav{
    background-color: black;
    padding: 25px;
    text-align: center;
}
nav>a{
    padding-right: 20px;
}
.busca>a:hover{
    background-color: red;
    padding: 10px;
    border-radius: 50px;
}
body{
    background: rgba(0, 0, 0, 0.489);
}
#titulo{
    text-align: center;
}
p{
    margin-top: 0;
    padding: 10px;
}
img{
  
    display: block;
    margin: auto;
}
main{
    text-indent: 10px;
    background-color: white;

}
body{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
a{
    text-decoration: none;
   
}
.ins{
text-decoration: underline;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}
#rod{
    text-align: center;

}
#r{
    margin-bottom: 0px;
    padding-bottom: 8px;
}